<ion-fab no-margin horizontal="end" vertical="top" slot="fixed" *ngIf="platform.width() > 691">
  <ion-fab-button size="small" fill="clear" (click)="dismiss()">
    <ion-icon color="dark" name="close"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-header *ngIf="platform.width() < 692">
  <ion-toolbar color="primary">
    <ion-title>{{ venue?.name }}</ion-title>

    <ion-buttons slot="end">
      <ion-button icon-only fill="clear" (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="light" no-margin no-padding>
    <ion-card-header no-margin>
      <ion-toolbar color="light">
        <ion-buttons slot="start" margin-end>
          <ion-thumbnail>
            <img [src]="venueCatIcon" />
          </ion-thumbnail>
        </ion-buttons>

        <ion-card-title><ion-text color="medium">{{ venue?.name }}</ion-text></ion-card-title>
        <ion-card-subtitle><ion-text color="tertiary">({{ venue?.types[0] }})</ion-text></ion-card-subtitle>
      </ion-toolbar>
    </ion-card-header>

    <ion-card-content no-padding>
      <ion-list no-padding lines="none" margin-bottom>
        <ion-item color="light" lines="none">
          <ion-label>
            <h2>
              <ion-text>{{ streetAddress }}</ion-text>
              <span float-end><star-rating [rating]="'4.2'"></star-rating></span>
            </h2>

              <p>{{ cityStateZip }}</p>
              <p *ngIf="venue?.formatted_phone_number; else international">{{ venue?.formatted_phone_number }}</p>
              <ng-template #international>
                <p *ngIf="venue?.international_phone_number; else noNumber">{{ venue?.international_phone_number }}</p>
                <ng-template #noNumber>
                  <p>No phone number listed</p>
                </ng-template>
              </ng-template>
              
          </ion-label>
        </ion-item>

        <ng-template #smallButtons>
          <ion-button color="tertiary" class="detail-button" expand="block" margin-bottom>
            <ion-icon slot="start" name="information-circle" margin-end></ion-icon>
            <ion-label>Details</ion-label>
          </ion-button>

          <ion-button 
            color="secondary" 
            margin-bottom 
            (click)="(user?.favorite && user?.favorite.id === venue?.place_id) ? showRemoveFavoriteAlert() : addFavorite()" 
            [disabled]="!user" 
            class="detail-button" 
            expand="block"
            [fill]="(user?.favorite && user?.favorite.id === venue?.place_id) ? 'solid' : 'outline'">
            <ion-icon margin-end [name]="(user?.favorite && user?.favorite.id === venue?.place_id) ? 'star' : 'star-outline'"></ion-icon>
            <ion-label>
              {{ (user?.favorite && user?.favorite.id === venue?.place_id) ? 'Remove Favorite' : 'Set as Favorite' }}
            </ion-label>
          </ion-button>

          <ion-button color="primary" class="detail-button" expand="block" margin-bottom (click)="getDirections()">
            <ion-icon margin-end name="navigate"></ion-icon>
            <ion-label>Directions</ion-label>
          </ion-button>
        </ng-template>

      </ion-list>

      <ion-tab-bar color="light" slot="bottom" *ngIf="platform.width() > 691; else smallButtons">
        <ion-tab-button [href]="venue?.url">
          <ion-icon color="tertiary" name="information-circle"></ion-icon>
        </ion-tab-button>

        <ion-tab-button 
          (click)="(user?.favorite && user?.favorite.id === venue.place_id) ? showRemoveFavoriteAlert() : addFavorite()" 
          [disabled]="!user">
          <ion-icon color="secondary" [name]="(user?.favorite && user?.favorite.id === venue.place_id) ? 'star' : 'star-outline'"></ion-icon>
        </ion-tab-button>

        <ion-tab-button (click)="getDirections()">
          <ion-icon color="primary" name="navigate"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>

    </ion-card-content>
  </ion-card>
</ion-content>