<ion-card color="medium" no-margin no-padding>
  <ng-content></ng-content>
  <ion-card-header no-margin>
    <ion-toolbar color="medium">
      <ion-buttons slot="start" margin-end>
        <ion-thumbnail>
          <img [src]="venueCatIcon" />
        </ion-thumbnail>
      </ion-buttons>

      <ion-card-title><ion-text color="light">{{ venue?.name }}</ion-text></ion-card-title>
      <ion-card-subtitle><ion-text color="tertiary">({{ venue.categories[0].name }})</ion-text></ion-card-subtitle>
    </ion-toolbar>
  </ion-card-header>

  <ion-card-content no-padding>
    <ion-list no-padding lines="none">
      <ion-item color="medium" lines="none">
        <ion-label>
          <h2>
            <ion-text>{{ venue?.location.formattedAddress[0] }}</ion-text>
            <span float-end><star-rating [rating]="'4.2'"></star-rating></span>
          </h2>
          <p>{{ venue?.location.formattedAddress[1] }}</p>
          <p>{{ venue?.location.formattedAddress[2] }}</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-tab-bar slot="bottom" color="primary">
      <ion-tab-button>
          <ion-icon name="information-circle"></ion-icon>
      </ion-tab-button>

      <ion-tab-button (click)="addFavorite()" [disabled]="!user">
        <ion-icon
        [color]="(user?.favorite && user?.favorite.id === venue.id) ? 'light' : 'dark'" 
        [name]="(user?.favorite && user?.favorite.id === venue.id) ? 'star' : 'star-outline'"></ion-icon>
      </ion-tab-button>

      <ion-tab-button>
        <ion-icon name="navigate"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-card-content>
</ion-card>