#logout-button {
    --detail-icon-opacity: 1;
}

ion-card {
    max-width: 700px;
    min-width: 400px;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
}

#verify-note {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    min-width: 400px;
    width: 70vw;
}

#copyright-info {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    min-width: 460px;
    width: 70vw;
}

#copy-toolbar {
    --border-width: 0;
    bottom: 0;
    left: 0;
    position: fixed;
}


.social-icon { 
    max-width: 24px;
    max-height: 24px;
} 

