ion-card {
    max-width: 600px;
    min-width: 300px;
    width: 60vw;
    height: 385px;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(50vh - 246px);

    //@media screen and (max-height: 510px) { margin-top: 10vh; }
    @media screen and (max-height: 470px) { margin-top: 0px; }
}
 
#login-button {
   max-width: 310px;
}

#auth-toggle {
    margin-top: 10px;
}

#social-row {
    max-width:400px;
}

#auth-toggle, #login-button, #social-row, .social-login {
    margin-left: auto;
    margin-right: auto;
}

.social-icon {
    max-height: 20px;
    max-width: 20px;
}

ion-footer, ion-toolbar#forgot-password {
    --border-color: var(--ion-color-primary);
}