ion-card {
    max-width: 600px;
    min-width: 300px;
    width: 60vw;
    height: 395px;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(50vh - 241px);

    @media screen and (max-height: 510px) { margin-top: 10vh; }
    @media screen and (max-height: 355px) { margin-top: 0; }
}

#register-button {
    max-width: 310px;
}

#auth-toggle, #register-button {
    margin-left: auto;
    margin-right: auto;
}

#auth-toggle {
    margin-top: 10px;
}