<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Coffee News</ion-title>

    <ng-container *ngIf="platform.width() < 576">
      <ion-buttons [attr.slot]="platform.is('desktop') ? 'primary' : 'end'">
        <ion-button icon-only fill="clear">
          <ion-icon [name]="isGrid ? 'list': 'grid'"></ion-icon>
        </ion-button>
      </ion-buttons>
      
      <ion-buttons slot="end" *ngIf="platform.is('desktop')">
        <ion-button 
          *ngIf="platform.is('desktop'); else pullToRefresh" 
          icon-only 
          fill="clear" 
          (click)="getFeed(selectedFeed.url, $event)">
          <ion-icon name="refresh"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ng-container>
  </ion-toolbar>
  
  <ion-toolbar color="primary">
    <ion-select 
      *ngIf="platform.width() < 576" 
      [(ngModel)]="selectedTitle" 
      interface="action-sheet" 
      placeholder="Select a news feed"
      [interfaceOptions]="customActionsheetOptions">
      <ion-select-option 
        *ngFor="let feed of feeds; let i = index"   
        [value]="feed.title">{{feed.title }}</ion-select-option>
    </ion-select>

    <ion-segment *ngIf="platform.width() >= 576" [(ngModel)]="selectedTitle" scrollable="true">
      <ion-segment-button 
        *ngFor="let feed of feeds; let i = index"   
        [value]="feed.title" 
        (ionSelect)="setCurrentFeed($event, i)">
        <ion-label>{{ feed.title }}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding [ngSwitch]="isGrid" [scrollEvents]="true">
  <ng-container *ngIf="platform.width() >= 576">
    <ion-fab 
      *ngIf="platform.is('desktop'); else pullToRefresh" 
      horizontal="end" 
      vertical="top" 
      slot="fixed">
      <ion-fab-button 
        color="secondary" 
        mini 
        (click)="getFeed(selectedFeed.url, $event)">
        <ion-icon name="refresh"></ion-icon>
      </ion-fab-button>
      <ion-fab-button 
      color="secondary" 
        mini 
        [attr.margin-top]="platform.is('desktop')"
        (click)="toggleView()">
        <ion-icon [name]="isGrid ? 'list': 'grid'"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ng-container>

  <ng-template #pullToRefresh>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="refresh"
        pullingText="Refresh news..."
        refreshingSpinner="circles"
        refreshingText="loading feed...">
      </ion-refresher-content>
    </ion-refresher>
  </ng-template>

  <ion-list>
    <ion-list-header>
      <ion-label>
        <h1>{{ selectedTitle }}</h1>
        <h6>
          <a [href]="currentFeed?.feed.link">{{ currentFeed?.feed.link}}</a>
        </h6>
      </ion-label>
    </ion-list-header>

    <ion-grid *ngIf="isGrid; else listView">
      <ion-row>
        <ion-col size="12" size-md="6" size-lg="4" size-xl="3" *ngFor="let item of currentFeed?.items; let i = index">
          <ion-card color="light">
            <ion-card-header color="light">
              <ion-toolbar color="light">
                  <ion-thumbnail slot="start" margin-end *ngIf="item?.thumbnail">
                    <ion-img [src]="item?.thumbnail"></ion-img>
                  </ion-thumbnail>
      
                <ion-card-title>{{ item?.title }}</ion-card-title>
                <ion-card-subtitle>By: {{ item?.author }} - {{ item?.pubDate | date:'dd-MM-yyyy' }}</ion-card-subtitle>
              </ion-toolbar>
            </ion-card-header>
      
            <ion-card-content color="light">
              <p>{{ item?.description | sanitizeHtml | truncate: 95}}</p>
              
            </ion-card-content>
            <ion-footer>
              <ion-toolbar>
                <ion-button fill="clear" expand="full" [href]="item.link">
                  Read more
                  <ion-icon slot="end" name="open"></ion-icon>
                </ion-button>
              </ion-toolbar>
            </ion-footer>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ng-template #listView>
      <ion-item 
        button 
        *ngFor="let item of currentFeed?.items"
        detail="true" 
        detailIcon="open"  
        [href]="item.link">
        <ion-thumbnail slot="start">
          <ion-img [src]="item?.thumbnail"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h2 text-wrap>{{ item?.title }}</h2>
          <h3>{{ item?.pubDate | date:'dd-MM-yyyy' }}</h3>
          <p>By: {{ item?.author }}</p>
        </ion-label>
      </ion-item>
    </ng-template>
    

  </ion-list>
  
  <!--<ng-adsense id="adsense" [adClient]="adClient" [adSlot]="adSlot"></ng-adsense>-->
</ion-content>
<!--<adsense-banner></adsense-banner>-->
