<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Home</ion-title>

    <ion-buttons slot="end">
      <ion-button *ngIf="!(user$ | async)" href="/tabs/(settings:login)">
        Login
        <ion-icon slot="end" name="log-in"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>
      <h1>Coffee News</h1>
    </ion-list-header>
    <ion-item button detail="true" detailIcon="open" *ngFor="let story of newsList" [href]="story.link">
      <ion-thumbnail slot="start">
        <ion-img [src]="story.thumbnail"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2 text-wrap>{{ story.title }}</h2>
        <h3>{{ story.pubDate.slice(0, -9) }}</h3>
        <p>By: {{ story.author }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <!--<p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs">docs</a> will be your guide.</p>-->
</ion-content>
